
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';
@import 'variables-flaty';
//@import 'flaty/bootswatch';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Argon theme
//@import 'argon';

/*.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}*/

//body {
    //background: #0f0c29;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//}
